.sidebar_section {
  width: 230px;
  padding: 15px 0px 0px 15px;
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

  .sidebar_row_container {
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 88%;
    padding: 14px 0px 14px 12px;
  }

  .hidden_list_container {
    display: flex;
    align-items: center;
    padding: 12px 0px 12px 32px;
    border-radius: 10px;
    width: 80%;
    gap: 12px;
  }

  .sidebar_row_container:hover,
  .hidden_list_container:hover {
    background-color: rgb(243 244 246);
    cursor: pointer;
  }

  .sidebar_icon_container {
    width: 16%;
    font-size: 18px;
  }

  .link_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 73%;
  }

  .fa-solid,
  .fa-regular {
    color: dimgray;
  }
}