.header_section {
  .header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px;
    border-bottom: 1px solid gainsboro;
    background-color: white;
  }

  .logo {
    font-weight: 600;
    cursor: pointer;
  }

  .profile_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .profile_photo {
    height: 35px;
    width: 40px;
  }

  .user_name {
    font-size: 18px;
    margin: 0px 15px -3px 15px;
    color: darkslategray;
  }

  .dropdown_container {
    position: absolute;
    right: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 5px;
    padding: 8px 5px;
    background-color: white;
  }

  .dropdown_list_container {
    display: flex;
    align-items: center;
    padding: 12px 14px;
    border-radius: 10px;
  }

  .dropdown_list_container:hover {
    background-color: rgb(243 244 246);
    cursor: pointer;
  }

  .icon_container {
    margin-right: 15px;
  }

  .fa-solid,
  .fa-regular {
    color: dimgray;
  }
}