.notification_section {
  .notification_container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 6px 20px;
  }

  .note_container {
    display: flex;
    justify-content: space-between;
    padding-block: 20px;
    align-items: center;
  }

  .message_container {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .close-icon {
    color: grey;
    cursor: pointer;
  }

  .close-icon:hover {
    transform: scale(1.2);
    color: black;
  }
}