.profile_section {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px 30px 30px 0;

  .profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 30%;
  }

  .profile_img {
    width: 150px;
    margin-bottom: 10px;
  }

  .profile_info_container {
    flex-grow: 1;
  }

  .fields_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: end;
  }

  .field_container {
    display: flex;
    flex-direction: column;
  }

  input,
  select {
    margin-top: 6px;
  }

  textarea {
    margin-top: 6px;
    resize: none;
    height: 60px;
  }

  @media (max-width: 1230px) {
    .profile_container {
      width: 100%;
    }
  }

  @media (max-width: 1100px) {
    .fields_container {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
}

@media (max-width: 1230px) {
  .profile_section {
    flex-direction: column;
    gap: 20px;
    padding: 0 30px 30px 30px;
  }
}